<section class="container">
  <div>
    <h1>Props Index</h1>
    <hr>
    <!-- <form name="search.searchForm" ng-submit="search.submit()" novalidate> -->
    <form>
      <div>
        <label for="area">Area: </label>
        <input type="text" ng-model="propsIndex.area">
      </div>
      <!-- <div class="ng-message-error" ng-messages="main.studentForm.password.$error" ng-show="(main.studentForm.$submitted || main.studentForm.password.$touched)">
        <p ng-message="required">Your password is required.</p>
      </div> -->
      <div>
        <label for="beds">Number of Beds: </label>
        <input type="number" ng-model="propsIndex.beds">
      </div>
      <!-- <div class="ng-message-error" ng-messages="main.studentForm.password.$error" ng-show="(main.studentForm.$submitted || main.studentForm.password.$touched)">
        <p ng-message="required">Your password is required.</p>
      </div> -->
        <button ng-click="propsIndex.getProps()" class="search">Search</button>
    </form>
    <h4 class="listings">Found {{propsIndex.results.result_count}} Listings</h4>

    <div ng-repeat="props in propsIndex.results.listing" class="results">
      <ul>
        <li><img ng-src="{{props.image_645_430_url}}" class="image"></li>
        <li><a ui-sref="propsShow({ listing_id: props.listing_id })">{{props.displayable_address}}</a></li>
        <li><strong>Price Per Month: </strong>£{{props.rental_prices.per_month}}</li>
        <li><strong>Bedrooms: </strong>{{props.num_bedrooms}}</li>
        <li><strong>Property Type: </strong>{{props.property_type}}</li>
        <hr>
      </ul>
    </div>
  </div>
</section>
