<section class="container">
  <div>
    <h1>Search Properties</h1>
    <form class="border">
      <div>
        <label for="area">Area: </label>
        <input type="text" ng-model="propsIndex.area">
      </div>
      <div>
        <label for="beds">Number of Beds: </label>
        <input type="number" ng-model="propsIndex.beds">
      </div>
        <button ng-click="propsIndex.getProps()" class="search">Search</button>
    </form>
    <h5 class="listings">Found {{propsIndex.results.result_count}} Listings</h5>

    <div ng-repeat="props in propsIndex.results.listing" class="results border">
      <ul>
        <li><img ng-src="{{props.image_645_430_url}}" class="image"></li>
        <li><strong>Address: </strong>{{props.displayable_address}}</li>
        <li><strong>Price Per Month: </strong>£{{props.rental_prices.per_month}}</li>
        <li><strong>Bedrooms: </strong>{{props.num_bedrooms}}</li>
        <li><strong>Property Type: </strong>{{props.property_type}}</li>
        <button ng-click="propsIndex.openModal(props)" class="btn btn-danger">More Info</button>
      </ul>
    </div>
  </div>
</section>
