<h2> Props Show Page</h2>

<ul>
  <li>{{propsShow.selected.displayable_address}}</li>
  <li><img ng-src="{{propsShow.selected.image_645_430_url}}"></li>
  <li>Bedrooms: {{propsShow.selected.num_bedrooms}}</li>
  <li>Bathrooms: {{propsShow.selected.num_bathrooms}}</li>
  <li>Price: £{{propsShow.selected.rental_prices.per_month}} ppm</li>
  <li>{{propsShow.selected.property_type}}</li>
  <li>{{propsShow.selected.description}}</li>
  <li>{{propsShow.selected.agent_name}}</li>
  <li>{{propsShow.selected.agent_phone}}</li>

</ul>
