<section class="container">
  <h1>Groups Edit</h1>
  <div>
    <form name="groupsEdit.groupsEditForm" novalidate>
      <div>
        <label for="groupName">Group Name</label>
        <input type="text" name="groupName" id="groupName" ng-model="groupsEdit.group.groupName" required>
      </div>
      <div class="ng-message-error" ng-messages="groupsEdit.groupsEditForm.groupName.$error" ng-show="(groupsEdit.groupsEditForm.$submitted || groupsEdit.groupsEditForm.groupName.$touched)">
        <p ng-message="required">Your group name is required.</p>
      </div>

      <div>
        <input type="text" class="search" name="groupsEdit.groupsSearchUsers" ng-model="groupsEdit.q" placeholder="Add more people...">
      </div>

      <div ng-repeat="user in groupsEdit.filtered" ng-show="groupsEdit.q.length > 0">
        <div ng-click="groupsEdit.addUser(user)" class="userSearchResults">
          <img ng-src="{{ user.profileImageSRC }}" alt="{{ user.username }}">
          <div>
            {{ user.username }}
          </div>
        </div>
      </div>

      <br>
      <p>People in - {{ groupsEdit.group.groupName }}</p>
      <div ng-repeat="user in groupsEdit.group.users">
        {{ user.username }}
        <img ng-src="{{ user.profileImageSRC }}">
        <a href="#" ng-if="main.currentUserId !== user.id" ng-click="groupsEdit.removeUser(user)">x</a>
      </div>

      <button ui-sref="groupsHome({ id: groupsEdit.group.id})">Back to group</button>
    </form>
  </div>
</section>
