<section class="container">
  <h1>{{ groupsHome.group.groupName }}</h1>
  <hr>
  <div class="row">
    <div ng-repeat="user in groupsHome.group.users" class="propo">
      <img class="img-fluid thumbnail groupUsers" ng-src="{{ user.profileImageSRC }}">
    </div>
  </div>
  <hr>
  <div>
    <button ui-sref="groupsEdit({ id: groupsHome.group.id })" class="edit">Edit</button>
    <button ng-click="groupsHome.delete()" class="deleteproperty">Delete</button>
  </div>
  <hr>
  <div>
    <p>Listing IDs:</p>
    <ul ng-repeat="selected in groupsHome.selected.listing ">
      <li><img ng-src="{{selected.image_645_430_url}}"></li>
      <li><strong>Address: </strong>{{selected.displayable_address}}</li>
      <li><strong>Bedrooms: </strong>{{selected.num_bedrooms}}</li>
      <li><strong>Bathrooms: </strong>{{selected.num_bathrooms}}</li>
      <li><strong>Price: </strong>£{{selected.rental_prices.per_month}} ppm</li>
      <li><strong>Property Type: </strong>{{selected.property_type}}</li>
      <button ui-sref="groupsPropsShow({ id: groupsHome.group.id, listing_id: selected.listing_id})">Show</button>
      <hr>
    </ul>
  </div>
</section>
