<section class="container">
  <div>
    <h2>Property Details</h2>
    <hr>
    <div class="row">
      <ul ng-repeat="selected in groupsPropsShow.gps.listing">
        <li><img ng-src="{{selected.image_645_430_url}}" class="propertyimage"></li>
        <li><strong>Bedrooms: </strong>{{selected.num_bedrooms}}</li>
        <li><strong>Property Type: </strong>{{selected.property_type}}</li>
        <li><strong>Price: </strong>£{{selected.rental_prices.per_month}} ppm</li>
        <li class="address"><strong>Address: </strong>{{selected.displayable_address}}</li>
        <div>
          <li class="description">{{selected.description}}</li><br>
        </div>
        <button ng-click="groupsPropsShow.deleteProperty(selected)" ng-if="main.isAuthenticated()" class="deleteproperty">Delete Property</button>
      </ul>
    </div>
    <hr>
    <div ng-repeat="selected in groupsPropsShow.gps.listing">
      <ul>
        <h3>Agency Info</h3>
        <li><strong>Company: </strong>{{selected.agent_name}}</li>
        <li><strong>Contact: </strong><a href="tel:{{selected.agent_phone}}" class="number">{{selected.agent_phone}}</a></li>
      </ul>
    </div>
    <hr>
    <div>
      <div>
        <div class="col-sm-6 col-md-6 col-lg-6 gallery">
          <h3>Images</h3>
          <ul>
            <li ng-repeat="image in groupsPropsShow.prop.images track by $index" class="col-sm-4 col-md-4 col-lg-4">
              <strong>{{ image.createdBy.username }}</strong>
              <img ng-src="{{ image.imageSRC }}" class="userimages">
              <button ng-click="groupsPropsShow.deleteImage(image)" class="deleteimage">Delete</button>
            </li>
          </ul>
        </div>
        <div>
          <h3>Notes</h3>
            <ul>
              <li ng-repeat="note in groupsPropsShow.prop.notes track by $index" class="col-sm-1 col-md-1 col-lg-1">
                <strong>{{ note.createdBy.username }}</strong> - {{ note.text }}
                <button ng-click="groupsPropsShow.deleteNote(note)">Delete</button>
              </li>
            </ul>
        </div><br>
        <hr>
        <div class="addimages">
          <form ng-submit="groupsPropsShow.addImage()" ng-if="main.isAuthenticated()">
            <label>Add Images</label>
            <input type="file" base64 name="base64" ng-model="groupsPropsShow.newImage.base64" class="base64">
            <button class="addimage">Add Image</button>
          </form>
        </div>
        <hr>
        <div>
          <form ng-submit="groupsPropsShow.addNote()" ng-if="main.isAuthenticated()">
            <h3>Add Comments</h3>
            <textarea ng-model="groupsPropsShow.newNote.text"></textarea><br>
            <button class="addcomment">Post</button>
          </form>
        </div>
      </div>
    </div>
   <hr>
   <div class="map container" ng-repeat="selected in groupsPropsShow.gps.listing">
     <ng-map center="[{{selected.latitude}}, {{selected.longitude}}]" zoom="13" scrollwheel="false">
       <marker position="[{{selected.latitude}}, {{selected.longitude}}]" animation="DROP"></marker>
     </ng-map>
   </div>
  </div>
</section>
