<section class="container">
  <div>
    <h2>Property Details</h2>

    <div class="row houseInfo border" ng-repeat="selected in groupsPropsShow.gps.listing">
      <div class="col-sm-6">
        <img ng-src="{{selected.image_645_430_url}}" class="propertyimage">
      </div>
      <div class="col-sm-6">
        <ul>
          <li></li>
          <li><strong>Bedrooms: </strong>{{selected.num_bedrooms}}</li>
          <li><strong>Property Type: </strong>{{selected.property_type}}</li>
          <li><strong>Price: </strong>£{{selected.rental_prices.per_month}} ppm</li>
          <li class="address"><strong>Address: </strong>{{selected.displayable_address}}</li>
          <button ng-click="groupsPropsShow.deleteProperty(selected)" ng-if="main.isAuthenticated()" class="deleteproperty">Delete Property</button>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p ng-repeat="selected in groupsPropsShow.gps.listing" class="description">{{selected.description}}</p>
      </div>
    </div>
    <div ng-repeat="selected in groupsPropsShow.gps.listing" class="border">
      <ul>
        <h3>Agency Info</h3>
        <li><strong>Company: </strong>{{selected.agent_name}}</li>
        <li><strong>Contact: </strong><a href="tel:{{selected.agent_phone}}" class="number">{{selected.agent_phone}}</a></li>
      </ul>
    </div>
    <h3 class= "border">Ratings</h3>
    <div class="ratingList">
      <div ng-repeat="rating in groupsPropsShow.prop.rating track by $index" class="col-sm-4 col-md-4 col-lg-4 margin-bottom">
        <strong>{{ rating.createdBy.username }}</strong>
        <span uib-rating ng-model="rating.opinion" max="groupsPropsShow.max" read-only="groupsPropsShow.isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></span>
        <button type="button" ng-click="groupsPropsShow.deleteRating(rating)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="ratings">
      <form ng-submit="groupsPropsShow.addRating()" ng-if="main.isAuthenticated()">
        <label for="rating"></label>
        <span uib-rating ng-model="groupsPropsShow.newRating.opinion" max="groupsPropsShow.max" read-only="groupsPropsShow.isReadonlyfalse" on-hover="hoveringOver(value)" on-leave="overStar = null" class="form-control ratingBox" name="rating" id="rating"></span>
        <button class="addimage">Add Rating</button>
      </form>
    </div>
    <div class="border overflow">
      <div class="col-md-6 col-lg-6">

        <h3>Images</h3>
        <div class ="row">

            <div ng-repeat="image in groupsPropsShow.prop.images track by $index" class="col-sm-4 col-md-4 col-lg-4">
              <img ng-click="groupsPropsShow.openModal(image)" ng-src="{{ image.imageSRC }}" class="userimages img-fluid img-thumbnail">
              <button ng-click="groupsPropsShow.deleteImage(image)" class="deleteimage">Delete</button>
            </div>
        </div>

        <div class="addimages row">
          <form ng-submit="groupsPropsShow.addImage()" ng-if="main.isAuthenticated()" class="form-group">
            <input type="file" id="image" base64 name="base64" ng-model="groupsPropsShow.newImage.base64" class="base64 form-control" style="display: none;">
            <label for="image" class="addimage smaller">Choose image</label>
            <button class="addimage smaller">Upload</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="row">
          <h3>Notes</h3>

          <div ng-repeat="note in groupsPropsShow.prop.notes track by $index" class="col-sm-3 col-md-3 col-lg-3 noteHeight">
            <strong>{{ note.createdBy.username }}</strong><br><p class="noteText">{{ note.text }}</p><br>
            <button ng-click="groupsPropsShow.deleteNote(note)" class="smaller">Delete</button>

          </div>
        </div>
        <div class="row addNotes">
          <form ng-submit="groupsPropsShow.addNote()" ng-if="main.isAuthenticated()">
            <h3>Add Comments</h3>
            <textarea ng-model="groupsPropsShow.newNote.text"></textarea><br>
            <button class="addcomment">Post</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row border">
      <div class="col-sm-offset-1 col-sm-4 crimePie"><h3>Recent crime</h3>
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="groupsPropsShow.crimes.pieCrimeData" chart-labels="groupsPropsShow.labels" chart-legend="false">
        </canvas>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="map" ng-repeat="selected in groupsPropsShow.gps.listing">
          <h3>Location</h3>
          <ng-map center="[{{selected.latitude}}, {{selected.longitude}}]" zoom="13" scrollwheel="false">
            <marker position="[{{selected.latitude}}, {{selected.longitude}}]" animation="DROP"></marker>
          </ng-map>
        </div>
      </div>
    </div>
  </div>
</section>
