<h2>Edit</h2>
<form name="usersEdit.usersEditForm" ng-submit="usersEdit.update()">
  <label for="username">Username</label>
  <input type="text" name="username" id="username" ng-model="usersEdit.user.username">
  <label for="firstname">First Name</label>
  <input type="text" name="firstname" id="firstname" ng-model="usersEdit.user.firstname">
  <label for="surname">Surname</label>
  <input type="text" name="surname" id="surname" ng-model="usersEdit.user.surname">
  <label for="email">Email</label>
  <input type="email" name="email" id="email" ng-model="usersEdit.user.email">
  <label for="password">Password</label>
  <input type="password" name="password" id="password" ng-model="usersEdit.user.password">
  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="usersEdit.user.passwordConfirmation">
  <label for="base64"></label>
  <input type="file" base64 name="base64" id="base64" ng-model="usersEdit.user.base64">
  <button class="button">Update</button>
</form>
