<section id="homePage">
  <nav>
    <ul class="link">
      <li><a ui-sref="home">pncApp</a></li>
      <li ng-if="main.isAuthenticated()"><a ui-sref="propsIndex">Find Properties</a></li>
      <li ng-if="(main.isAuthenticated() && main.currentUserGroupId)"><a ui-sref="groupsHome({ id: main.currentUserGroupId })">My Group</a></li>
      <li ng-if="main.isAuthenticated() && !main.currentUserGroupId"><a ui-sref="groupsNew">Add a Group</a></li>
      <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUserId })">Profile</a></li>
      <li ng-if="main.isAuthenticated()"><a id="logout-link" ng-click="main.logout()" href="#">Logout</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="login">Login</a></li>
      <li ng-if="!main.isAuthenticated()"><a ui-sref="register">Register</a></li>
    </ul>
  </nav>
</section>
