<section class="container">
  <h2>Register</h2>
  <div>
    <form name="register.registerForm" ng-submit="register.submit()" novalidate>
      <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" ng-model="register.user.username" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.username.$error" ng-show="(register.registerForm.$submitted || register.registerForm.username.$touched)">
        <p ng-message="required">Your username is required.</p>
      </div>
      <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" ng-model="register.user.firstname" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.firstname.$error" ng-show="(register.registerForm.$submitted || register.registerForm.firstname.$touched)">
        <p ng-message="required">Your first name is required.</p>
      </div>
      <div>
        <label for="surname">Surname</label>
        <input type="text" name="surname" id="surname" ng-model="register.user.surname" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.surname.$error" ng-show="(register.registerForm.$submitted || register.registerForm.surname.$touched)">
        <p ng-message="required">Your surname is required.</p>
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" ng-model="register.user.email" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.email.$error" ng-show="(register.registerForm.$submitted || register.registerForm.email.$touched)" ng-pattern=".+@.+\..+">
        <p ng-message="required">Your email is required.</p>
        <p ng-message="email">A valid email is required.</p>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" ng-model="register.user.password" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.password.$error" ng-show="(register.registerForm.$submitted || register.registerForm.password.$touched)">
        <p ng-message="required">Your password is required.</p>
      </div>
      <div>
        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" ng-model="register.user.passwordConfirmation" required>
      </div>
      <div class="ng-message-error" ng-messages="register.registerForm.passwordConfirmation.$error" ng-show="(register.registerForm.$submitted || register.registerForm.passwordConfirmation.$touched)">
        <p ng-message="required">Your password confirmation is required.</p>
      </div>
      <div>
        <label for="base64"></label>
        <input type="file" base64 name="base64" id="base64" ng-model="register.user.base64" required>
      </div>
      <button class="button">Register</button>
    </form>
  </div>
</section>
