@import 'reset';

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: 'Raleway', serif;
}

body {
  &.login {
    background-color: red;
  }
  &.register {
    background-color: black;
  }
  &.usersShow {
    background-color: green;
  }
  &.propsIndex {
    background-color: yellow;
  }
  &.groupsIndex {
    background-color: pink;
  }
  &.groupsNew {
    background-color: dodgerblue;
  }
}

.heading-styles {
  text-transform: uppercase;
  letter-spacing: 1px;
  // font-weight: bold;
}

h1 {
  @extend .heading-styles;
}

nav {
  div {
    ul {
      text-align: center;
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 30px;
      text-decoration: none;
      li {
        font-size: 17px;
        display: inline-block;
        margin-left: 20px;
        line-height: 40px;
        &:last-of-type {
        }
        &.menu {
          text-decoration: none;
          color: black;
          cursor: pointer;
          display: none;
          font-size: 20px;
        }
        a {
          color: black;
          @extend .heading-styles;
          font-weight: 600;
          position: relative;
          text-decoration: none;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: black;
            position: absolute;
            bottom: -5px;
            left: 0;
            opacity: 0;
            transition: opacity 0.6s ease;
            text-decoration: none;
          }
          &:hover {
            margin-top: 10px;
            text-decoration: none;
            color: black;
            &:after {
              text-decoration: none;
              opacity: 1;
            }
            &:active {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

section {
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  margin-top: 80px;
  text-align: center;
  div {
    h4 {
      font-size: 25px;
      text-transform: uppercase;
    }
    a {
      text-transform: uppercase;
    }
    .results {
      margin-top: 15px;
    }
    img {
      max-width: 60%;
      margin: 10px;
    }
    .userSearchResults {
      display: inline-block;
      &:hover {
        border: 1px dashed #000;
      }
    }
    form {
      label {
        text-transform: uppercase;
        padding-top: 10px;
        font-weight: bold;
        font-size: 15px;
      }
      input {
        display: block;
        margin: 0 auto;
        margin-top: 5px;
        padding: 3px 240px;
        text-align: center;
        border: 0;
        border-bottom: 2px solid black;
        &.base64 {
          border: 0;
        }
      }
      textarea {
        width: 400px;
        height: 50px;
      }
    }
    button {
      padding: 10px;
      margin: 10px 0;
      text-transform: uppercase;
      margin-top: 15px;
      font-weight: 600;
      background-color: white;
      border: 1px solid black;
      outline: none;
      &:hover {
        background-color: lightgreen;
        transition: all 1.5s ease;
        outline: none;
      }
      &:active {
        outline: none;
      }
      &.edit {
        padding: 10px 25px;
      }
      &.search {
        padding: 7px 290px;
      }
      &.comment {
        padding: 5px 130px;
      }
      &.deletecomment {
        margin: 0;
        &:hover {
          background-color: rgb(255, 91, 91);
          transition: all 1.5s ease;
          outline: none;
        }
      }
      &.deleteproperty {
        &:hover {
          background-color: rgb(255, 234, 91);
          transition: all 1.5s ease;
          outline: none;
        }
      }
    }
    ul {
      li {
        button {
          padding: 5px;
          font-size: 12px;
          background-color: white;
          border: 1px solid black;
          &.deleteimage {
            display: inline;
            margin: 0;
            position: relative;
          }
        }
        padding: 10px;
        &.address {
          text-transform: uppercase;
        }
        &.description {
          text-align: justify;
          margin: 0 100px;
          font-size: 15px;
        }
        strong {
          font-weight: 900;
          text-transform: uppercase;
        }
        img {
          &.userimages {
            max-width: 15%;
            // text-align: center;
          }
        }
      }
    }
    .image {
      max-width: 80%;
    }
    a {
      font-size: 23px;
    }
    .listings {
      text-transform: uppercase;
    }
    div {
      p {
        color: red;
        animation: expandOpen 1s;
      }
    }
  }
}

.container {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.container1 {
  padding-right: 200px;
  padding-left: 200px;
  margin-right: auto;
  margin-left: auto;
}

.map {
  height: 300px;
  width: 850px;
  padding: 0;
  // background-color: lightgrey;
  margin-bottom: 15px;
}

.addimage {
  margin: 5px;
  padding: 5px 6px;
}

.addcomment {
  padding: 0 100px;
  padding: 5px 140px;
}

@keyframes expandOpen {
	0% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}
